

body{
 font-family: 'Poppins', sans-serif;
 margin:0;

}

h1{
 font-size: 50px;
 font-weight: 600;
}

span{
 color: orange;
}


.Hire-me{
 padding: 10px 10px;
 background-color: yellow;

}

.flexible-container {
 display: flex;
 margin-bottom: 100px;
}


.half-width{
 width: 50%;
 padding-left: 5%;
} 

.half-width img{
 width: 100%;
}

a{
 text-decoration: none;
 background-image: linear-gradient(orange, tomato);
 padding:15px 40px;
 border-radius: 5px;
 font-weight: 700;
 
}

.half-width p{
 margin-bottom: 25px;
}

.top-banner{
 background-image: url(./images/top-banner.png);
 background-repeat: no-repeat;
}

.dream-big{
 background-image: url(./images/dream-bg.png);
 background-repeat: no-repeat;
}

.experience{
 text-align: center;
}


.full-stack-developer{
 background-color: #ffffff;
 border-left: 5px solid blue;
 padding-bottom: 100px;
  box-shadow: 20px 20px 30px #888888;

}

.Baby-developer{
  background-color: #ffffff;
 border-left: 5px solid red;
 padding-bottom: 100px;
  box-shadow: 10px 10px 20px #888888;

}